
@{
    ViewBag.Title = "Login";
    Layout = null;
    /*string test1 = ViewBag.temp;*/
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>登陆</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/bao/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/bao/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/bao/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/bao/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div aria-live="polite" aria-atomic="true" class="position-relative">
  <!-- Position it: -->
  <!-- - `.toast-container` for spacing between toasts -->
  <!-- - `top-0` & `end-0` to position the toasts in the upper right corner -->
  <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
  <div class="toast-container top-0 end-0 p-3">

    <!-- Then put toasts within -->
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Bootstrap</strong>
        <small class="text-muted">just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        See? Just like this.
      </div>
    </div>

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Bootstrap</strong>
        <small class="text-muted">2 seconds ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Heads up, toasts will stack automatically
      </div>
    </div>
  </div>
</div>
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                                <img src="~/bao/assets/images/logo.svg">
                            </div>
                            <h4>你好! 让我们继续吧！</h4>
                            <h6 class="font-weight-light">Sign in to continue.</h6>
                            <form class="pt-3" method="post" action="/Account/Login">
                                <div class="form-group">
                                    @*<input type="text" class="form-control form-control-lg" placeholder="Username" name="user">*@
                                    <input type="text" class="form-control form-control-lg" name="user" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg" placeholder="Password" name="pasword">
                                </div>
                                <div class="mt-3">
                                    @*@Html.ActionLink("登陆", "Login", "Account", null, new { @class = "btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" })*@
                                    @*<a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" href="About">登陆</a>*@
                                    <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">提交</button>
                                </div>
                                <div class="text-center mt-4 font-weight-light">
                                    账号：admin<br />密码：admin</a>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/bao/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/bao/assets/js/off-canvas.js"></script>
    <script src="~/bao/assets/js/hoverable-collapse.js"></script>
    <script src="~/bao/assets/js/misc.js"></script>
    <!-- endinject -->
</body>
</html>
